$warm-black: #282626;
$warm-black2: #1D1C1C;
$orange: #F7931A;
$soft-orange: #ffe9d5;
$off-white: #faf8f7;
$dark-gray: #433F3F;
$gray2: #5A5555;
$light-gray: #BAB6B6;
$gray: #E5E5E5;

.main-footer{
    background: $warm-black2;
    height: 120px;
    .footer-wrapper{
        max-width: 1200px;
        margin: 0 auto;
        padding: 1em;
        .social-media{
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            .bussiness-name{
                color: $off-white;
            }    
        }
    }
}