$warm-black: #282626;
$warm-black2: #1D1C1C;
$orange: #F7931A;
$soft-orange: #ffe9d5;
$off-white: #faf8f7;

.update-date.css-7478fk{
    color: $off-white;
    font: normal 500 0.65rem/1rem 'Poppins', sans-serif;
    
}

.main-table{
    padding: 1em;
    td.css-xumdn4{
        padding: .8em;
    }
    .value{
        font-weight: 600;
    }
}